# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': "Spec Maker"
      'submenu': [
        { 'label': 'Open or create spec for current file', 'command': 'spec-maker:open-or-create-spec' }
      ]
    ]
  }
]
